
html {
    box-sizing: border-box;
}


*,
*::after,
*::before{
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class]{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}


body {
    min-width: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
    /* font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
}


.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    color: 
    #242121;
    padding-bottom: 14px;
    letter-spacing: -1.65px;



}

.title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 4px;
    background: #FCBB08;
    left: 0;
    bottom: 0;
}

.header {
    

}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 29px;
}

.menu__list {
    display: flex;
}

.menu__list-item + .menu__list-item {
    margin-left: 32px;
}

.menu__list-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 0 3px 9px;
    border: 1px solid transparent;
    transition: all 0.3s ease;

}


.menu__list-link:hover {
    border-bottom: 1px solid #FCBB08;
}

.header__content {
    background-image: url('../images/Header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header__content-inner {
    min-height: calc(100vh - 92px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header__content-wrapper {
    margin: auto 0;
    text-align: center;
    padding-top: 130px;
}

.header__content-title {
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-bottom: 18px;


}



.header__content-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #FCBB08;
}

.header__content-icon {
    margin-bottom: 62px;
}


.about {
    margin-top: 110px;
    background-color: #F6F8FA;


}

.about__inner {
    padding: 143px 0 144px;
    display: flex;
    justify-content: space-between;

}



.about__title {
    align-self: flex-start;

}

.about__block-text p {
    max-width: 770px;

    margin-bottom: 16px;
}

.about__text {

}


.expertise {
    padding-top: 25px;
    padding-bottom: 164px;

}

.expertise__title {
    margin-bottom: 110px;

}


.expertise__inner {

}

.expertise__top {
    display: flex;
    margin-bottom: 110px;

}

.expertise__top-items {
    width: 370px;
    margin-top: 10px;
    flex: none;
    

}

.expertise__top-item {
    border-top: 2px solid 
    #1D1D1D;
    padding: 2px 0 28px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1px;
    position: relative;
    color: #1D1D1D;


}

.expertise__top-item span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 7px;

    
}

.expertise__top-item span::before {
    position: absolute;
    content: "";
    height: 2px;
    top: -2px;
    right: 0;
    background-color: #f0f0f0;
    width: 100%;
    margin-right: -7px;


}



.expertise__top-text {
    margin-left: 30px ;
    max-width: 770px;
}
.expertise__top-text p {
    margin-bottom: 25px;
}


.expertise__bot {

}

.expertise__bot-items {
    display: flex;
    justify-content: space-between;

}
.expertise__bot-item {
    width: 370px;

}

.expertise__item-img {
    margin-right: 35px;
    transform: translateY(-30px);
}

.expertise__item-inner {
    display: flex;
}

.expertise__item-info {
    
}

.expertise__info-title {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 4.3px;
    margin-bottom: 15px;
}

.expertise__info-text {
    color: #777777;
}

.magic {
    background-image: url('../images/magic-img.jpg');
    background-position: left 80%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: 
    #F6F8FA;
}

.magic__inner {
    padding: 100px 0 190px;
    padding-left: 130px;
    max-width: 50%;
    margin-left: auto;

}

.magic__title {
    margin-bottom: 67px;
}



.magic__text {
    margin-bottom: 25px;
    

}

.gallery {
    padding: 140px 0 70px;
}

.gallery__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    
}

.gallery__top-title {
    

}

.gallery__top-buttons {
    padding-right: 68px;


}

.gallery__top-button {
    border: none;
    padding: 0;
    background-color: transparent;
    padding: 0 4px 5px 4px;
    border-bottom: 1px solid transparent;
    transition: all .35s ease;
    font-weight: 600;
    color: #333333;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;

    

}

.gallery__top-button:hover {
    border-bottom: 1px solid 
    #FCBB08;
}

.mixitup-control-active {
    border-bottom: 1px solid 
    #FCBB08;

}
.gallery__top-button + .gallery__top-button {
    margin-left: 25px;
}

.gallery__content {
    column-count: 4;
    column-gap: 22px;
    
}

.gallery__content-image {
    margin-bottom: 22px;
    position: relative;
  

    
}

.gallery__content-img {
    width: 100%;
    
}

.gallery__content-link{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #4C4A4A;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 12px solid #666363;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.55s ease;
}

.gallery__content-image:hover .gallery__content-link {
    opacity: 1;
}

.project {
    display: block;
    cursor: pointer;
    background: #F6F8FA;
    text-align: center;
    padding: 42px 15px 42px;
    margin-top: 50px;
}

.project__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    

}

.blockquote {
    padding: 130px 0 148px;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: 
    #242121;
    max-width: 650px;
    margin: 0 auto;
}

.blockquote span {
    display: block;
    color: 
    #9E9E9E;
    font-size: 14px;
    line-height: 32px;
    margin-top: 51px;
}

.video {
    background-image: url('../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 324px;
    margin-bottom: 165px;

}

.video__link {

}

.video img {
  
}
.figures {

}

.figures__list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    

}

.figures__list-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    padding: 166px 0 166px;

}

.figures__list-item span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: block;
}

.slider__block {
    background-color:  #F8F6FA;

}

.slider__inner {
    padding: 350px 0 114px;

}

.slider__item-content {
    max-width: 650px;
    margin-bottom: 190px;
}

.slider__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    color: #242121;
    margin-bottom: 10px;


}

.slider__subtitle{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
    max-width: 585px;
}

.slick-dots {
    display: flex;

}

.slick-dots button {

    padding: 0;
    border: none;
    font-size: 0;
    width: 6px;
    height: 6px;
    background: #E5E5E5;
    border-radius: 50%;
   
}

.slick-active button {
    padding: 0;
    border: none;
    font-size: 0;
    width: 10px;
    height: 10px;
    background: 
    #242121;
    border-radius: 50%;
    transform: translateY(-2px);
}



.slick-dots li + li {
    margin-left: 13px;
}

.slick-prev,
.slick-next {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-125%);

}

.slick-prev {
    left: -95px;

}
.slick-next {
    right: -95px;

}

.team {

}

.team__inner {
    padding-bottom: 132px;
}

.team__title {
    padding-top: 120px;
    margin-bottom: 100px;

}

.team__list {
    display: flex;
    justify-content: space-between;
    text-align: center;     

}

.team__list-item {
    

}

.team__list-item img {
    margin-bottom: 35px;
}

.team__item-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: 
    #333333;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.team__item-post {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #373A39;

}


.pricing {
    background: #F6F8FA;

}

.pricing__inner {
    padding: 144px 0 162px;

}

.pricing__title {
    margin-bottom: 90px;
}

ul.pricing__list {
    display: flex;
    justify-content: space-between;
    

}

.pricing__list-item {
    background-color: #fff;
    padding: 24px 0 53px;
    width: 370px;

}

.pricing__item-title {

    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 8px;
    padding-left: 25px;



}

.pricing__item-content {
    text-align: center;
    
    

}

.pricing__content-number {
    font-weight: 300;
    font-size: 80px;
    line-height: 108px;
    margin-bottom: 51px;

}

.pricing__content-number sup {
    font-size: 40px;
    line-height: 54px;

}

.pricing__content-list {
    
    

}

.pricing__content-item {
    margin-bottom: 30px;

}

.pricing__content-item:last-child {
    margin-bottom: 70px;
}

.pricing__content-link {

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

}

.partners {
    background-color: #fff;

}

.partners__inner {
    padding: 69px 0 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.partners__link {

}

.partners img {

}


.touch {
    background-image: url('../images/MapBg.jpg');
    background-position: right 100%;
    background-size: 40%;
    background-repeat: no-repeat;

}

.touch__content {
    padding: 145px 0 162px;

}

.touch__title {
    margin-bottom: 75px;

}

.form {
    max-width: 569px;


}

.input {
    padding: 18px 0 18px;
    width: 100%;
    border: none;
    border-bottom: 2px solid
    #373A39;
    margin-bottom: 16px;

}

.textarea {
    min-height: 160px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #373A39;
    margin-bottom: 40px;
    resize: none;
}

.input,
.textarea {
    font-size: 27px;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 20px;
}

.input::placeholder,
.textarea::placeholder {
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 3.71px;
    color: 
    #B8B8B8;
    text-transform: uppercase;
    font-weight: 300;
}

.form__btn {
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: transparent;
    padding: 17px 70px 15px;
    background: #242121;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
   
    

}



.footer {
    text-align: center;
    

}

.footer__top {
    background-color: #333333;

}


.footer__top-inner {
    padding: 130px 0 60px;

}


.footer__top-link {
    display: inline-block;
    margin-bottom: 70px;
}
/* .footer__top-inner img {
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
} */

.socials {
    display: flex;
    justify-content: center;

}

.socials__items {
    margin-bottom: 65px;
 


}

.socials__items + .socials__items  {
    margin-left: 30px;
}


.socials__items-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4px;
    color: #ccc;
    text-transform: uppercase;
}

.adress {
    max-width: 250px;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #fff;
    margin: 0 auto;
    padding-bottom: 57px;

}

.footer__arrow {
    display: inline-block;
}



.footer__bot {
    padding: 43px 0 41px;
    background-color: #2A2C2B;


}

.footer__bot-inner {
    color: 
    #CCCCCC;
}

/* преобразование title,
our__expertise, собака magic, portfolio кнопки и связь, а также hover,
slider-arrows, parnters(bg),поправить всякие alt,(form, footer) */

